html, body {
  min-height: 100% !important;
  height: 100%;
  overflow: hidden;
}


#project-table{
  width: 85%;
  margin: 0 auto;
}

#new-tuple{
  margin: 0 auto;
}

.button{
  margin: 0 auto;
}

#project-container{
  height: 100%;
  width: 100%;
}

#project-table-container{
  width: 100%;
  max-height: calc(100% - 80px);
  text-align: center;
  overflow: auto;
}

#new-tuple{
  margin: 0 auto;
}

.content-cell
{
  width: 48%;
  overflow: auto;
  cursor: url(./../../resources/edit.png) 2 2, pointer;
}

.content-cell:hover
{
  background-color: #e7fff9;
}
