html, body {
  min-height: 100% !important;
  height: 100%;
  overflow: hidden;
}

.button{
  margin: 0 auto;
}

#project-container{
  height: 100%;
  width: 100%;
}

#project-table-container{
  width: 100%;
  max-height: calc(100% - 80px);
  text-align: center;
  overflow: auto;
}

#new-tuple{
  margin: 0 auto;
}

.content-cell
{
  overflow: auto;
  width: 45%;
}

.edit-tuple{
  cursor: url(./../../resources/edit.png) 2 2, pointer;
}

.edit-tuple:hover
{
  background-color: #e7fff9;
}

.hover-highlight:hover
{
  background-color: #e7fff9;
}

#edit-requirements-cancel{
  position: fixed;
  top: 20px;
  right: 150px;
  background-color: red;
}

#edit-requirements-done{
  position: fixed;
  top: 20px;
  right: 350px;
  background-color: green;
  color: white;
}