#quiz-container{
  height: 80%;
}

#quiz-table{
  height: 100%;
}

#qa-container{
  max-height: 30vh;
  overflow: auto;
  font-size: 22px;
}

html{
  height: 100%;
}

body{
  height: 100%;
  border: 1px solid blue;
}
