<html>

<head>
  <script src="../scripts/index.js"></script>
  <link rel='stylesheet' href='../stylesheets/index.css' />
  <link rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' />

  <title>Study-Assist</title>

</head>

<body>

  <div class="container-fluid" id="index-header">
    <h1>Study-Assist</h1>
    <h3>Open an existing project or create a new one to get started</h3>
  </div>


  <div class="container-fluid" id="index-content">
    <h3>To be implemented:</h3>
    <ul>
      <li>
        Create user-interface for math input (buttons for symbols, functions, etc...)
      </li>
      <li>
        Change current save button to 'save as' and add a 'save' button
      </li>
      <li>
        Add feature for editing question/answer from quiz
      </li>
      <li>
        Implement a search (ctrl+f) function
      </li>
      <li>
        Add tabs for having multiple projects/quizzes open simultaneously
      </li>
      <li>
        'Back' button in quiz
      </li>
      <li>
        Implement a view for selecting questions to be displayed in a quiz
      </li>
      <li>
        Add grammar checker
      </li>
      <li>
        Add more languages
      </li>
      <li>
        Make quiz divisible into 'chapters' so that each chapter will be quizzed independently in order
      </li>
      <li>
        Add a recovery feature for projects.
      </li>
      <li>
        Replace this view with instructions
      </li>
      <li>
        Add different examination types: exam (in-order), multiple-selection, map Q->A, ...
      </li>
    </ul>
  </div>
</body>

</html>
