<!DOCTYPE html>
<html>

<head>
    <title>Study Assist</title>
    <script>
    </script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/project.js"></script>
    <script src="../../ckeditor/ckeditor.js"></script>
    <link rel='stylesheet' href='../stylesheets/project.css' />
    <link rel='stylesheet' href='../../ckeditor/plugins/eqneditor/css/style.css' />
    <link rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body>
  <div id="project-container">
    <header class="row" style="background-color: black;">
        <div class="col-xs-2">
            <a class="navbar-brand" href="#">New Project</a>
        </div>
        <div class="col-xs-1">
            <a id="save-project">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </a>
        </div>
        <div class="col-xs-8">
            <div class="input-group" style="max-width: 250px; margin-top: 8px;">
                <input type="text" class="form-control" placeholder="Search for..." id="search-input" />
                <span class="input-group-addon" id="search"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
        <div class="col-xs-1" style="text-align:right;">
            <h3>
                <span class="label label-default" id="tuple-count">0</span>
            </h3>
        </div>
    </header>

    <div id="project-table-container">
        <div id="project-table"></div>
        <br />
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Chapter title" id="new-chapter-title">
          <span class="input-group-btn" style="width:0;">
              <button id="new-chapter" class="btn btn-default" type="button">Add</button>
          </span>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="content-edit-modal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Insert Content</h4>
              </div>
              <div class="modal-body">
                  <form>
                      <textarea name="editor" id="editor" rows="10" cols="80"></textarea>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</body>

</html>
