<!DOCTYPE html>
<html>
  <head>
    <title>Study Assist</title>
    <script>
    </script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/project.js"></script>
    <script src="../../ckeditor/ckeditor.js"></script>
    <link rel='stylesheet' href='../stylesheets/project.css' />
    <link rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Study-Assist</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <table id="project-table">
        <thead>
          <tr>
            <th>
              Questions
            </th>
            <th>
              Answers
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <table>
        
      </table>
      <br />
      <button id="new-tuple" class="col-md-offset-5 col-md-2 col-md-offset-5 btn">New Question & Answer</button>
    </div>
  </body>
</html>
