<!DOCTYPE html>
<html>

<head>
    <title>Study Assist</title>
    <script>
    </script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/project.js"></script>
    <script src="../../ckeditor/ckeditor.js"></script>
    <link rel='stylesheet' href='../stylesheets/project.css' />
    <link rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body>
  <div id="project-container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">New Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a id="save-project">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </a>
                </li>
            </ul>
            <h3 class="pull-right">
              <span class="label label-default" id="tuple-count">0</span>
            </h3>
        </div>

    </nav>

    <div class="container" id="project-table-container">
        <table id="project-table" class="table"></table>
        <br />
        <button id="new-tuple" type="button" class="btn"><span class="glyphicon glyphicon-plus"></span></button>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="content-edit-modal" role="dialog">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Insert New Question</h4>
              </div>
              <div class="modal-body">
                  <form>
                      <textarea name="editor" id="editor" rows="10" cols="80"></textarea>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</body>

</html>
