<!DOCTYPE html>
<html>

<head>
    <title>Study Assist</title>
    <script>
    </script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/quiz.js"></script>
    <script src="../../ckeditor/ckeditor.js"></script>
    <link rel='stylesheet' href='../stylesheets/quiz.css' />
    <link rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Add Q&A Sets</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">#</li>
            </ul>
        </div>
    </nav>

    <div class="container" id="quiz-builder-container">
        <table id="quiz-table" class="table"></table>
        <br />
        <button
          id="new-source"
          type="button"
          class="btn"
          title="New Source"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</body>

</html>
