<table id="quiz-table" class="table">
    <tr>
        <td>
          <div id="qa-container">
          </div>
        </td>
    </tr>
    <tr>
        <td>
            <form>
                <textarea name="editor" id="editor" rows="10" cols="80"></textarea>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <button id="toggle-qa" type="button" class="btn btn-info">Show Answer</button>
            <button id="correct" type="button" class="btn btn-success pull-right">Correct</button>
            <button id="incorrect" type="button" class="btn btn-danger pull-right">Incorrect</button>
        </td>
    </tr>
</table>
